.checkoutcom-paypal-review .box .box-title {
    display: block;
    margin: 0 0 20px;
    padding: 0 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.checkoutcom-paypal-review .box .box-title span {
    font-weight: 300;
    line-height: 1.2;
    font-size: 18px;
}

.checkoutcom-paypal-review .box-order-shipping-method .item {
    display: block;
}

#minicart-paypal-button-container {
    margin-top: 10px;
}

@media screen and (min-width: 769px) {
    .checkoutcom-paypal-review .boxes {
        display: grid;
        gap: 4%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .checkoutcom-paypal-review .box .box-title {
        border-bottom: 1px solid #C5C5C5;
    }
}
