/* Moto */
#payment_form_checkoutcom_moto {
	margin-left: 25px;
}

#cko-form-holder {
	margin-bottom: 20px;
}

/**
 * Vault payment
 */
#vault-container {
    margin-bottom: 20px;
}

#vault-container div:last-child {
    border-bottom: none !important;
}

#vault-container .card-on,
#vault-container .card-selected {
    background-color:  #f1f1f1;
}

.cko-vault-card {
    border-bottom: 1px solid #ccc;
    padding: 15px;
	cursor: pointer;
	margin-top: 15px;
}

.cko-vault-card input[type=radio] {
    position: absolute !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.cko-vault-card input[type=radio] + img {
    cursor: pointer !important;
}

.cko-vault-card label img {
    width: 45px;
    height: 30px;
    margin-right: 10px;
}

.cko-vault-card .vault-details {
    float: left !important;
}

.cko-vault-card .vault-cvv {
    float: right !important;
    width: 55px !important;
}

.clr {
    clear: both;
    visibility: hidden;
    height: 0px;
    width: 0px;
}