<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <checkoutcom_magento2>
                <title>cko</title>
                <model>CheckoutCom\Magento2\Model\Magento2</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </checkoutcom_magento2>
        </payment>
    </default>
</config>

