<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <checkoutcom_frontend_form>
                <debug>1</debug>
                <active>0</active>
                <model>CheckoutCom\Magento2\Model\Methods\FrontEndForm</model>
            </checkoutcom_frontend_form>
        </payment>
    </default>
</config>

