<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="CheckoutCom\Magento2\Model\Service\MethodHandlerService">
        <argument name="methods" xsi:type="array">
            <argument name="checkoutcom_card_payment" xsi:type="object">CheckoutCom\Magento2\Model\Methods\CardPaymentMethod</argument>
            <argument name="checkoutcom_apm" xsi:type="object">CheckoutCom\Magento2\Model\Methods\AlternativePaymentMethod</argument>
            <argument name="checkoutcom_apple_pay" xsi:type="object">CheckoutCom\Magento2\Model\Methods\ApplePayMethod</argument>
            <argument name="checkoutcom_google_pay" xsi:type="object">CheckoutCom\Magento2\Model\Methods\GooglePayMethod</argument>
        </arguments>
    </type>
</config>