<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Method handler configurations -->
    <type name="CheckoutCom\Magento2\Model\Service\MethodHandlerService">
        <arguments>
            <argument name="instances" xsi:type="array">
                <item name="checkoutcom_card_payment" xsi:type="object">CheckoutCom\Magento2\Model\Methods\CardPaymentMethod</item>
                <item name="checkoutcom_apm" xsi:type="object">CheckoutCom\Magento2\Model\Methods\AlternativePaymentMethod</item>
                <item name="checkoutcom_apple_pay" xsi:type="object">CheckoutCom\Magento2\Model\Methods\ApplePayMethod</item>
                <item name="checkoutcom_google_pay" xsi:type="object">CheckoutCom\Magento2\Model\Methods\GooglePayMethod</item>
                <item name="checkoutcom_vault" xsi:type="object">CheckoutCom\Magento2\Model\Methods\VaultMethod</item>
            </argument>
        </arguments>
    </type>
    <!-- END Method handler configurations -->
</config>