<?xml version="1.0"?>
<!--
/**
 * Checkout.com Magento 2 Magento2 Payment.
 *
 * PHP version 7
 *
 * @category  Checkout.com
 * @package   Magento2
 * @author    Checkout.com Development Team <integration@checkout.com>
 * @copyright 2019 Checkout.com all rights reserved
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.checkout.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Custom UI Messages -->
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="ckoMessages" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">CheckoutCom_Magento2::ui/messages.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="VersionNotification" xsi:type="string">CheckoutCom\Magento2\Block\Adminhtml\Alerts\VersionNotification</item>
            </argument>
        </arguments>
    </type>

    <!-- After save order plugin -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="cko_order_after_save" type="CheckoutCom\Magento2\Plugin\Backend\OrderAfterSave" />
    </type>

    <!-- After admin capture plugin -->
    <type name="Magento\Sales\Model\Order\Payment\State\CommandInterface">
        <plugin name="cko_after_capture" type="CheckoutCom\Magento2\Plugin\Backend\OrderAfterInvoice"/>
    </type>

</config>
