<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="checkout_com_sales_order_save_before" instance="CheckoutCom\Magento2\Observer\Backend\OrderSaveBefore" />
    </event>
</config>