<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">

            <group id="checkoutcom" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<div class="checkout-payment-logo"></div><div class="checkout-payment-byline">Checkout.com delivers increased payment processing speed, greater reliability, and adaptability to the needs of your business with a unified payment solution.</div>]]></label>
                <fieldset_css>checkout-settings checkout-payment-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>

                <group id="checkoutcom_required" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Module</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <requires>
                            <field id="secret_key"/>
                            <field id="public_key"/>
                            <field id="shared_key"/>
                        </requires>
                        <config_path>payment/checkoutcom_magento2_redirect_method/active</config_path>
                    </field>

                    <field id="environment" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>CheckoutCom\Magento2\Model\Config\Backend\ConfigEnvironment</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/environment</config_path>
                    </field>

                    <field id="secret_key" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secret Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/secret_key</config_path>
                    </field>

                    <field id="public_key" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Public Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/public_key</config_path>
                    </field>

                    <field id="shared_key" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Shared Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/shared_key</config_path>
                    </field>
                </group>

                <group id="checkoutcom_card_payments" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Card Payments</label>
                    <field id="title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Option Title</label>
                        <config_path>payment/checkoutcom_magento2_redirect_method/title</config_path>
                    </field>

                    <field id="card_payments_type" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Integration Type</label>
                        <source_model>CheckoutCom\Magento2\Model\Config\Backend\ConfigType</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_type</config_path>
                    </field>

                    <field id="card_payments_action" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action</label>
                        <source_model>CheckoutCom\Magento2\Model\Config\Backend\ConfigAction</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_action</config_path>
                    </field>

                    <field id="card_payments_3ds_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use 3D Secure</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_3ds_enabled</config_path>
                    </field>

                    <field id="card_payments_attempt_non3ds" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Attempt non-3D Secure</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="card_payments_3ds_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_attempt_non3ds</config_path>
                    </field>

                    <field id="card_payments_save_cards_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Save Cards</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_save_cards_enabled</config_path>
                    </field>

                    <field id="card_payments_save_cards_title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Saved Cards Option Title</label>
                        <depends>
                            <field id="card_payments_save_cards_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_save_cards_title</config_path>
                    </field>

                    <field id="card_payments_dynamic_decriptor_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Dynamic Descriptor</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="card_payments_save_cards_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_dynamic_decriptor_enabled</config_path>
                    </field>

                    <field id="card_payments_decriptor_name" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Descriptor Name</label>
                        <depends>
                            <field id="card_payments_dynamic_decriptor_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_decriptor_name</config_path>
                    </field>

                    <field id="card_payments_decriptor_city" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Descriptor City</label>
                        <depends>
                            <field id="card_payments_dynamic_decriptor_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_decriptor_city</config_path>
                    </field>

                    <field id="card_payments_cvv_optional" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>CVV Optional</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_cvv_optional</config_path>
                    </field>

                    <field id="card_payments_mada_bin_check" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable MADA Bin Check</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_magento2_redirect_method/card_payments_mada_bin_check</config_path>
                    </field>
                </group>

                <group id="checkoutcom_alternative_payments" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alternative Payments</label>
                    <field id="checkoutcom_alternative_payments_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Alternative Payments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_alternative_payments/checkoutcom_alternative_payments_enabled</config_path>
                    </field>

                    <field id="checkoutcom_alternative_payments_sepa" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use SEPA</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="checkoutcom_alternative_payments_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_alternative_payments/checkoutcom_alternative_payments_sepa</config_path>
                    </field>

                    <field id="checkoutcom_alternative_payments_giropay" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use GIROPAY</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="checkoutcom_alternative_payments_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_alternative_payments/checkoutcom_alternative_payments_giropay</config_path>
                    </field>
                </group>

                <group id="checkoutcom_apple_pay" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Pay</label>

                    <field id="checkoutcom_apple_pay_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Apple Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_apple_pay/checkoutcom_apple_pay_enabled</config_path>
                        <requires>
                            <field id="checkoutcom_apple_pay_merchant_id"/>
                            <field id="checkoutcom_apple_pay_certificate"/>
                            <field id="checkoutcom_apple_pay_certificate_key"/>
                        </requires>
                    </field>
                    <field id="checkoutcom_apple_pay_merchant_id" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                        <config_path>payment/checkoutcom_apple_pay/checkoutcom_apple_pay_merchant_id</config_path>
                    </field>

                    <field id="checkoutcom_apple_pay_certificate" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Certificate Path</label>
                        <config_path>payment/checkoutcom_apple_pay/checkoutcom_apple_pay_certificate</config_path>
                    </field>

                    <field id="checkoutcom_apple_pay_certificate_key" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Certificate Key Path</label>
                        <config_path>payment/checkoutcom_apple_pay/checkoutcom_apple_pay_certificate_key</config_path>
                    </field>

                    <field id="checkoutcom_apple_pay_theme" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Theme</label>
                        <depends>
                            <field id="checkoutcom_apple_pay_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_apple_pay/checkoutcom_apple_pay_theme</config_path>
                    </field>
                </group>

                <group id="checkoutcom_google_pay" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Pay</label>

                    <field id="checkoutcom_google_pay_enabled" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Google Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_google_pay/checkoutcom_google_pay_enabled</config_path>
                        <requires>
                            <field id="checkoutcom_google_pay_merchant_id"/>
                        </requires>
                    </field>

                    <field id="checkoutcom_google_pay_merchant_id" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                    </field>

                    <field id="checkoutcom_google_pay_theme" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Theme</label>
                        <depends>
                            <field id="checkoutcom_google_pay_enabled">1</field>
                        </depends>
                        <config_path>payment/checkoutcom_google_pay/checkoutcom_google_pay_theme</config_path>
                    </field>
                </group>

            </group>


        </section>
    </system>
</config>